[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = true
name = "pytorch-cu116"

[packages]
google-cloud-speech = "*"
librosa = "*"
speechrecognition = "*"
mecab-python3 = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
whisper = {git = "https://github.com/openai/whisper.git"}
rich = "*"

[dev-packages]

[requires]
python_version = "3.10"
